*{

}

body{
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	background: rgba(0,0,0,1);
	background-image: url('images/background.jpg');
}
.p-mypic{
	position: absolute;
	top: 25%;
	left: 7%;
	
}
.p-content{
	position: absolute;
	top: 50%;
	left: 60%;
	color: #a6b5bc; 
	font-family: Courier New;
	font-size: 0em;
}

h1{
	font-size: 50px;
}

.p-quote{
	position: absolute;
	top: 20%;
	left: 40%;
	color: #e5db54;
	font-size: 1.5em;
	font-family: Courier New;
}
.p-knowbtn{
	position: absolute;
	top: 70%;
	left: 61%;
	border: 0px;
	border-radius: 2px;
	background-color: #2196F3;
	padding: 10px;
}
.p-knowbtn a{
	text-decoration: none;
	color: #fff;
}
 .p-knowbtn:hover {
	color: #dfdfdf;
}
.p-knowbtn:hover{
	background-color: #04709b;
}
@media only screen and (max-width: 768px){
	.p-quote{
		font-size: 0.9em;
		left: 33%;
	}
	.p-mypic img{
		width: 300px;
	}
	.p-knowbtn{
		top:51%;
		left: 61%;
	}
	.p-content{
		top: 70%;
		left: 16%;
	}
	.navbar-header img{
	width: 50px;
}
}

/* ------------------------------------------------------- page2 css ---------------------------------------------------- */
.p2-mypic{
	position: absolute;
	top: 25%;
	left: 7%;
	
}
.p2-aboutme{
	color: #e5db54;
	font-size: 1.2em;
	font-family: Courier New;
	position: absolute;
	top: 30%;
	left: 40%;
	border-bottom: 1px solid grey;
	}

/*.p2-aboutme p{
	
}*/

.p2-content{
	position: absolute;
	top: 15%;
	left: 34%;
	color: #a6b5bc; 
	font-family: Courier New;
	font-size: 0em;
}

.p2-knowbtn{
	position: absolute;
	top: 80%;
	left: 50%;
	border: 0px;
	border-radius: 50%;
	background-color: rgba(33, 150, 243,0);
	padding: 10px;
	color: white; font-size: 3em

}
@media only screen and (max-width: 768px){
	.p2-mypic{
	position: absolute;
	top: 12%;
	left: 62%;
	border: 2px solid white;
	
	}
	.p2-mypic img{
	width: 100px;	
	}
	.p2-content{
	position: absolute;
	top: 31%;
	left: 3%;
	color: #a6b5bc; 
	font-family: Courier New;
	
	}
	h1{
		font-size: 42px;
	}
	.p2-aboutme{
	color: #e5db54;
	font-size: 1em;
	font-family: Courier New;
	position: absolute;
	top: 50%;
	left: 2%;
	border-bottom: 1px solid grey;
	}

	.p2-knowbtn{
		display: none;
	}

}
/* ------------------------------------------------------- bootstrap.css ------------------------------------------------ */
/*.navbar-default {

    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-color: rgba(250,250,250,0);
    border-color: rgba(250,250,250,0);
}*/

.navbar-inverse {

    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    z-index: 1;
}
.navbar-inverse li a{
	color: #9d9d9d;
}

.navbar-nav .open .dropdown-menu{
	background-color: #000000e6;
}


