*{
	
  box-sizing: border-box;

}

body{
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	/*background: radial-gradient(circle, #323538, #1a1b1c, #000000);*/
	background: #fafafa;
	width: 100%;
	height: 100%;

	/*background-image: url('/images/background.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/
	}
header{
	padding: 100px 0 150px 0;	
	}
section{
	padding: 0px 0 55px 0;
	}
h1{
	font-family: 'Bree Serif', serif;
	font-weight: 700;
	font-size: 46px;
	line-height: 51px;
	text-transform: uppercase;
	margin: 0 0 23px 0;
	color: #262830;

}
h2{
	font-family: 'Bree Serif', serif;
	font-weight: 400;
	font-size: 20px;
	color:  #262830;
	line-height: 23px;
	text-transform: uppercase;
	margin: 0 0 23px 0;
}
h4{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	color:  #262830;
	margin: 0 0 10px 0;
	
}
p{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 28px;
	font-weight: 300;
	color: #262730;
	margin: 0 0 23px 0;
	padding-bottom: 20px;
}
input{
	font-family: 'Lato', sans-serif;	
}
textarea{
	color: #fafafa;	
}
img{
	margin-left: auto;
	margin-right: auto;
}
.p2-header{
	background-image: url('/images/starry_sky_cosmos.jpg');
	display: block;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 90%;

}

/* ------------------------------------------------------- isotope.js ---------------------------------------------------*/
/* ------------------------------------------------------- Navigation ---------------------------------------------------*/
.isonav{
	text-align: center;
}
.isonav ul li{
	list-style: none;
	padding: 10px 15px;
	background: #68d3c4;
	display: inline-block;
	cursor: pointer;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.isonav ul li:hover{
	background: #00bcb0;
}
/* ------------------------------------------------------- Main Portfolio ---------------------------------------------------*/
.mainiso{
	width: 100%;
}
.mainiso .item{
	width: 270px;
	float: left;
	margin-bottom: 35px;
}
.isonav .active{
	background: #00bcb0;
}
/* ------------------------------------------------------- isotope.jsv ends ---------------------------------------------------*/
/* ------------------------------------------------------- page2 css ----------------------------------------------------*/
.p-horizontal{
	position: relative;
	top: 100px;
	z-index: -1;
}
.p2-name{
	position: relative;
	top: 35px;
}
.p2-name h1, .p2-name p{
	color: #f2f2f2;

}
.p2-name-dev h2,.p2-name-des h2,.p2-name-art h2{
	/*box-shadow: 0px 1px 3px 1px #4ECDC4;*/  
	padding: 6px;
	border-radius: 10px;
}
.p2-name-dev h2{
	background:#4ECDC4;
}
.p2-name-dev span{
	color:#0a7ab2;
	font-size: 1.5em;
}
.p2-name-des h2{
	background: #B0DB43 ;
}
.p2-name-des span{
	color:#5D771B ;
	font-size: 1.5em;	
}
.p2-name-art h2{
	background: #FCEC52;
}
.p2-name-art span{
	color: #AFA11F ;
	font-size: 1.5em;
}
.p2-name-dev{
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: 1;
	-moz-animation-duration: 1s;
	-moz-animation-delay: 1s;
	-moz-animation-iteration-count: 1;
	animation-duration: 1s;
	animation-delay: 1s;
	animation-iteration-count: 1;  
}
.p2-name-des{
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 2s;
	-webkit-animation-iteration-count: 1;
	-moz-animation-duration: 1s;
	-moz-animation-delay: 2s;
	-moz-animation-iteration-count: 1;
	animation-duration: 1s;
	animation-delay: 2s;
	animation-iteration-count: 1; 	
}
.p2-name-art{
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 3s;
	-webkit-animation-iteration-count: 1;
	-moz-animation-duration: 1s;
	-moz-animation-delay: 3s;
	-moz-animation-iteration-count: 1;
	animation-duration: 1s;
	animation-delay: 3s;
	animation-iteration-count: 1; 
}

.p2-downbtn  a{
	text-align: center;
	border: 1px solid #68d3c4;
	text-decoration: none;
	color: #fafafa;
	background: #00ccbe;
	padding: 10px 20px 10px 20px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;

}
.p2-downbtn:hover a{
	background: #00bcb0; 
	color:#fafafa;
	box-shadow: 0px 3px 3px #888888a1;
}

.p2-sec1{
	line-height: 1.5em;
	font-size: 1.5em;
	padding-left: 5em;
	padding-top: 1.2em;
	padding-bottom: 4em;
	height: 100%;
	width: 100%;
}
.p2-profilepic img{
	display: block;
	box-shadow: 2px 2px 3px 1px #8AE1FCa7; 
	border-radius: 50%;
}

/*.p2-about p{
	padding-bottom: .5em;
	color: #c1c0ae;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}*/
.p2-sec1 img{
	position: relative;
	top: 2em;
}
.p2-knowbtn{
	margin-right:0px auto;
	margin-left: 0px auto;
	margin-top: 2em;
	border-radius: 50%;
	float: right;
}
.p2-skills-icon img{
	padding: 0px 10px 0px 0px;

}
.p2-icon-shift{
	transform: translateX(13.5%);
}
.p2-skils ul li{
	display: inline-block;
	
}


.p2-web1-img img{
	display: block;
}
.p2-web2-img img{
	width: 500px;
	display: block; 
}

.p2-skillbars{
	background-color: #ddd;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 5px;
}
.p2-skills{
	color: #fff;
	text-align: right;
	padding: 2px;
	line-height: 16px;

}
.p2-devskill{
	width: 55%;
	background-color: green;
	border-radius: 5px;
}
.p2-desskill{
	width: 45%;
	background-color: #2196fc;
	border-radius: 5px;
}
.p2-artskill{
	width: 50%;
	background-color: orange;
	border-radius: 5px;
}

.p2-parallax{
	background-image: url('/images/designdesk.jpg');
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 85px 0px;
	margin-bottom: 20px;
	/*border: 20px solid #323232;*/
	
}
.p2-services h1{
	padding-bottom: 20px;
}
.p2-webE{
	color: #fff
}
.p2-serviece_logo .fa{
	font-size: 2em;
	color: #fafafa;
}
.fa-2x{
	display: inline-block;
}
.p2-serviece_wrap{
	padding: 10px 10px 10px 10px;
	/*border: 1.4px solid #04709b;*/
}
.p2-serviece_wrap h4{
	color: #f2f2f2;
}
.p2-serviece_logo{
	padding-bottom: 30px;
	color: #21cbff;

}
.p2-servicebtn {
	position: relative;
	top: 50px;
	}
.p2-servicebtn a{
	border: 0px;
	border-radius: 2px;
	background-color: #2196F3;
	text-decoration: none;
	padding: 10px;
	color: #fff;
}
.p2-servicebtn:hover a{
	background-color: #04709b;
	color: #2197F3;
}
.p2-webone{
	position: relative;
	top: 30px;
	padding-bottom: 50px;
}
.p2-contact-form > form > p{
	padding: 0 0 15px 0;
}

.form-control{
	background-color: transparent;
	box-shadow: none;
	margin-bottom: 15px;
	border: 1px solid #cccccc;
	border-radius: 0px;
	color: #fafafa;
	font-size: 16px;
	width: 100%;
}
.p2-social-links > .row > .column{
	width: 10%;
	padding-bottom: 30px;
}
.p2-social-links > .col-xs-12 > .row > .column{
	width: 15%;
}
.p2-social-links > .row > .column a{
	border: 1px solid #2197f3;
	padding: 3px 5px;
	color: #2197F3;
	text-decoration: none;
}

.p2-social-links > .row > .column :hover {
	background-color: #2197F3;
	color: #fff;
}
.row > .column {
  padding: 0 8px;
}
.row > .column > img {
  border-radius: 10%;
}
.p2-social{
	position: relative;
	overflow-y: hidden;
	margin: 10px 0px;
	padding-top:25px;
	border-top: 1px solid #262730; 
}
.p2-social ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.p2-social ul li{
	display: inline-block;
}
.p2-social a{
	display: block;
	width: 40px;
	height: 40px;
	line-height: 42px;margin-right: 10px;
	margin-bottom: 15px;
	text-align: center;
	border: 1px solid #f2f2f2;
	

}
.social_ico li a i{
	font-size: 1.4em;
}
.social_ico li a:hover {
	background: #68d3c4;
	color: #f2f2f2;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.p2-copyright{
	background-color: transparent;
	padding: 15px 0 15px 0px;
}
/*---------------------------------------------------------portfolio design ---------------------------------------------- */


.p2-reference::after {
  content: "";
  clear: both;
  display: table;
}
.p2-reference img{
	width: 150px;
	display: block;
	border-radius: 50%;
	
	border: 2px solid white;
}

.p2-reference span{
	font-size: 20px;
  	margin-right: 15px;
  	
}
.p2-reference{
	text-align: center;
}
.p2-reference p{
	padding: 0px 0px 10px 0px;
}
.p2-footer {
	background: #303133;
}
.p2-footer h1,.p2-footer h2,.p2-footer h3,.p2-footer h4,.p2-footer p{
	color: #fafafa;	
	text-align: left;
}
.p2-footer-download {
	background-color: #2196F3;
	padding: 3px 3px;
	border-radius: 5px;
	font-size: 0.75em; 
	color: #e0e0e0;
}
.p2-footer-details  p  a{
	text-decoration:none; 
}
.p2-footer-details p a:hover{
	background-color: #9BC53D;
	color: #fafafa;
}
.p2-thumbnail{
	max-width: 365px;
	max-height: 345px;
}
.p2-container{
	position: relative;
	width: 50%;
	max-width: 400px;
}

.clearfix::after{
	content:" ";
	display: block;
	clear: both;
	visibility: none;
}
.p2-webcontent{
	position:relative;
	top:150px;
	background-color: #a4a7aa;
	padding: 30px 40px 80px 60px;
	width: 550px;
}
.p2-web2content{
	position:relative;
	top:110px; 
	left:35px;
	background-color: #a4a7aa;
	padding: 30px 40px 80px 60px;
	width: 550px;
}
.p2-webtwo{
	float: left;
}
#click-view{
-moz-animation-duration: 3s;
-moz-animation-delay: 2s;
-moz-animation-iteration-count: infinite;
animation-duration: 3s;
animation-delay: 2s;
animation-iteration-count: infinite;  
}

.p2-viewsite{
	text-align: center;
	background: #2197F3;
	padding: 10px 8px;
	color: #dbdbdb;
}
.p2-web2content a{
	text-decoration: none;
}
.p2-webcontent a{
	text-decoration: none;
}
.p2-design-n-art-p{
	padding: 0 20px 0 0;
}
.p2-design-n-art-p p{
	margin-top: 20px;
	text-align: center;
}
.p2-design-n-art img{
	display: block;
	padding-bottom: 0px;
	box-shadow: 1px 1px 5px 3px grey;
}

.p2-copyright {
	padding: 30px;
	background-color: #303133;
	color: #68d3c4
}


/* ------------------------------------------------------- @media page 2 ------------------------------------------------ */
@media only screen and (min-width:1200px){
	.p2-icon-shift{
	transform: translateX(20%);
	}
}
@media only screen and (max-width: 992px){
	
	section{
		padding: 0px 0px 50px 0px;
		text-align: center;
	}
	.navbar-brand{
	padding-top:0px;
	}
	.navbar-brand img{
	margin-left: 0px;
	width: 50px;
	}
	.p2-downbtn a{
		text-align: center;
		float: none;
	}
	.p-horizontal{
		display: none; 
	}
	.p2-about{
		text-align: center;
	}
	
	.p2-profilepic img{
		border-radius: 50%;
		width: 200px;
		box-shadow: 2px 2px 3px 1px #8AE1FCa7;
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 0px;
		
	}
	.p2-icon-shift img{
		width: 60px;
		margin-left: auto;
		margin-right: auto;
	}
	.p2-icon-shift{
	transform: translateX(0%);
}
	.p2-webpic{
		display: none;
	}
	.p2-webcontent{
		top: 70px;
		left: 0;
		max-width: 100%;

	}
	.p2-web2content{
		left: 0;
		max-width: 100%;
		margin-bottom: 50px;
	}
	.p2-webtwo{
		float: none;
	}
	.p2-design-n-art{
		width: 100%;
		max-width: 992px;
	}
	.p2-design-n-art img{
		width: 100%;
		margin-left:auto; 
		margin-right:auto;
	
	}
	.p2-web1-img{
	width: 100%;
	max-width: 768px;
	
	}
	.p2-web1-img img{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	}
	.p2-web2-img{
		max-width: 768;
	}
	.p2-web2-img img{
		width: 100%;
	}
	.navbar-inverse {

	background-image: none;
	background-color: rgba(0,0,0,1);
	border-color: rgba(0,0,0,1);
	z-index: 1;
	}
	
	.prev{
		left: 0;
	}
	.p2-reference img{
		float: none;
	}
	.navbar-default .navbar-nav > li > a:hover{
		background: #000;
		color: #f2f2f2;
	}
	.p2-social-links > .row > .column{
	width: 16.67%;
	padding:15px 0px 30px 0px;
	}
	.navbar-default .navbar-nav > li > a{
		text-align: center;
		font-size: 1.25em;
		padding: 30px;
	}
	.navbar-inverse .navbar-nav > li > a > span{
		display: none;
	}
	.p-horizontal{
	transform: translateY(-96%);
	z-index: -1;
	width: 100%;

	}
	.p-horizontal img{
		height:45px;
	}

	
}
/* ------------------------------------------------------- spinner ------------------------------------------------ */
.spinner-base{
	width: 100%;
	height: 100%;
}
.spinner{
	width: 90px;
	height: 90px;
	 border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	animation: spin 1s infinite linear;
}
#overlay{
  height:100%;
  width:100%;
  background:rgba(0, 0, 0, 1);
  position:fixed;
  left:0;
  top:0;
 }

@keyframes spin{
	from{
		transform: rotate(0deg);
	}to{
		transform: rotate(360deg);
	}
}

/* ------------------------------------------------------- bootstrap.css ------------------------------------------------ */
/*.navbar-default {

    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-color: rgba(250,250,250,0);
    border-color: rgba(250,250,250,0);
}*/

.container-fluid{
	padding: 0;
	margin: 0;
}

.navbar-default{

    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-color: rgba(242,242,242,0);
    border-color: #f2f2f2a0;
    z-index: 1;
}
.navbar-inverse li a{
	color: #9d9d9d;
}
.navbar-default li a{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #f2f2f2;
}
.navbar-nav .open .dropdown-menu{
	background-color: #000000e6;
}
.row{
	margin-left: auto;
	margin-right: auto;
}
.dropdown-toggle{
	border: 2px;
	
}
.navbar-right{
	margin-right: 0;
}
.dropdown-menu > li > a{
	display: inline-block;
	padding: 3px 10px;
}
.dropdown ul{
	text-align: center;
}
.navbar-brand{
	padding-top:2px;
}
.navbar-brand img{
	border-radius: 50%;	
	margin-left: 2px;
	transition: all .5s ease;
	
}
.navbar-brand:hover img {
	opacity: 1;
	box-shadow: 1px 1px 3px 0px purple;
}



/*.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
 .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, 
 .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
  .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1,
   .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,
    .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11,
     .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
     float: none;
    }
.col-sm-6, .col-sm-4, .col-sm-3{
	float: left;
}
*/


